/* 
bleu 		#0065FC
bleu clair	#DEEBFF
gris 		#F2F2F2
*/

@font-face
{
	font-family: 'Raleway';
	src: url('polices/Raleway/Raleway-Regular.ttf') format('truetype');
}
@font-face /* ok sur GoogleChrome mais trop gras sur Firefox */
{
	font-family: 'Raleway ExtraBold';
	src: url('polices/Raleway/Raleway-ExtraBold.ttf') format('truetype');
}

body
{
	font-family: Raleway, Arial, Sans-Serif;
	color: #000000;

}
h1, h2
{
	font-size: 1.3em;
}
h3
{
	font-size: 1em;
}

/*bloc page*/
#page
{
	width: 90%;
	margin: auto;
}

@media all and (max-width: 480px)
{
	#page
	{
		width: 100%;
	}
}

/* --------------------HEADER : logo et menu--------------------*/
#nav_max
{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
#nav_max .logo img
{
	width: 90px;
	border-top: solid 2px #FFFFFF;			/* évite le décalage dû au hover des titres du menu */
		/*border: solid 1px green;*/
}
.menu_nav_max
{
	display: flex;
	justify-content: flex-end;
		/*border: solid 1px red;*/
}
.menu_nav_max div
{
	padding: 25px 20px 15px 20px;
	border-top: solid 2px #FFFFFF;			/* évite le décalage dû au hover des titres du menu */
		/*border: solid 1px yellow;*/
}
.menu_nav_max div:hover
{
	border-top: solid 2px #0065FC;
}
.menu_nav_min
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;				/* alignement vertical première ligne */
		/*border: solid 1px green;*/
}
.menu_nav_min .logo, .menu_nav_min .inscription
{
	padding-left: 20px;
	padding-right: 20px;
		/*border: solid 1px yellow;*/
}
.menu_nav_min .sections
{
	width: 50%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: solid 3px #F2F2F2;
}
.menu_nav_min .sections:hover
{
	border-bottom: solid 3px #0065FC;
}
.menu_nav_max .sections a, .menu_nav_min .sections a
{
	color: #000000;
	text-decoration: none;
}
.menu_nav_max .sections a:hover, .menu_nav_min .sections a:hover
{
	color: #0065FC;
}
.menu_nav_max .inscription a, .menu_nav_min .inscription a
{
	color: #0065FC;
	font-weight: bold;
	text-decoration: none;
}
@media all and (min-width: 480px)
{
	#nav_min
	{
		display: none;
	}
}
@media all and (max-width: 479px)
{
	#nav_max
	{
		display: none;
	}
}

/* -------------SECTION 1 : formulaires de recherche------------ */
#form_search						/* enveloppe fomulaire */
{
	display: flex;
	justify-content: flex-start;
	align-items: stretch;			/* ajustement hauteurs des éléments de la barre de recherche */
}
.icone_place						/* fond icone lieu */
{
	border-radius: 15px 0 0 15px;
	background-color: #F2F2F2;
	padding: 10px 15px;				/* centrage icone lieu ok */
}
.search_text						/* zone de texte */
{
	font-weight: bold;
	padding: 10px;
	border: solid 2px #F2F2F2;
}
.submit								/* bouton envoi */
{
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 0 15px 15px 0;
	border: solid 1px #0065FC;
	background-color: #0065FC;
	padding: 10px;
	cursor: pointer;
}

/* icone • barre de recherche */
#search .fas
{
	color: #000000;					/* icone lieu couleur */
}

/* filtres */
#filtres
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-weight: bold;
}
#filtres_responsive
{
	display: flex;
	justify-content: flex-start;
}
#filtres p, #filtres form
	{
		margin-right: 20px;
		margin-left: 0;
	}
#filtres label
{
	width: 35px;			/* créa cercle */
	height: 35px;			/* créa cercle */
	border-radius: 50%;		/* créa cercle */
	background-color: #DEEBFF;
	display: flex;			/* pour centrage vertical et horizontal des icones dans le cercle → class .fas : margin auto */
}
#filtres select				
{
	font-weight: bold;
	padding: 10px;
	width: 150%;			/* largeur > 100% pour masquer la flèche des balises select */
	border: none;
	cursor: pointer;
}
.form_filtre				/* enveloppes formulaires */
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	border: solid 2px #F2F2F2;
	border-radius: 20px;
	overflow: hidden;		/* pour masquer les flèches des balises select */
}
.form_filtre:hover
{
	border: solid 2px #0065FC;
}
@media all and (max-width: 1023px)
{
	#filtres
	{
		flex-wrap: wrap;
	}
	#filtres_responsive
	{
		flex-wrap: wrap;
	}
	#filtres p, #filtres form
	{
		margin: 0 10px 10px 0;
	}
}

/* annonce nombre de résultats */
#circle_info
{
	width: 20px;			/* créa cercle */
	height: 20px;			/* créa cercle */
	border-radius: 50%;		/* créa cercle */
	border: solid 2px #F2F2F2;
	display: flex;
	margin-right: 20px;
}
#nb_results
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 20px;
}

/* icones • filtres & annonce nombre de resultats */ 
#filtres .fas, #nb_results .fas
{
	margin: auto;		/* centrage vertical et horizontal dans les cercles flex */
	color: #0065FC;	
}

/* --------------------SECTION 2 : résultats----------------- */
#results
{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
#all_results, #best_results
{
    border-radius: 20px;
    background-color: #F2F2F2;
    padding: 0 30px;
}
#results a
{
	color: #000000;
	text-decoration: none;
}
.card_1:hover, .card_2:hover
{
	background-color: #DEEBFF;
}

/* tous les résultats */
#all_results
{
	width: 65%;
	margin-right: 3%;		/* gouttière */
}
#content_1
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.card_1
{
	width: 30%;
	border-radius: 15px;
	background-color: #ffffff;
	margin-bottom: 30px;
	padding: 5px 5px 0 5px;
	box-shadow: 2px 2px 10px #C2C2C2;
}
.card_1 img
{
	width: 100%;
	height: 9em;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
}
.card_1 h3, .card_1	p		/* infos card_1 */
{
	padding: 0 10px;
}
.test_lien:hover
{
	color: red;
}

/* résultats les plus polulaires */
#best_results
{
	width: 25%;
	min-width: 350px;	/* pour les alignement des box aux transitions responsives*/
}
#content_2
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card_2
{
	height: 10em;
	min-width: 350px;	/* pour les alignement des box aux transitions responsives*/
	border-radius: 15px;
	background-color: #ffffff;
	margin-bottom: 30px;
	padding: 5px 0 5px 5px;
	box-shadow: 2px 2px 10px #C2C2C2;
	display: flex;
	justify-content: space-between;
}
.content_img_2
{
	width: 40%;
	height: 100%;
}
.content_img_2 img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px 0 0 10px;
}
.info_card_2				/* infos card_2 */
{
	width: 55%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


@media all and (min-width: 480px) and (max-width: 1023px)
{
	#results
	{
		flex-wrap: wrap-reverse;
	}
	#all_results, #best_results
	{
		width: auto;
		margin: 0;
	}
	#all_results
	{
		background-color: initial;
	}
	#content_3
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	#content_3 div[class="width-responsive"]
	{
		width: 30%;
		min-width: 350px;	/*valeurs lignes 302 et 313*/
	}
}





/* icones • résultats & résultats les + populaires : chart-line & étoiles évaluation */
#content_2 				
{
	color: #000000;
}
#content_2 a:hover
{
	color: #0065FC;
}
#content_1 .fas, #content_1 .far, #content_3 .fas, #content_3 .far
{
	color: #000000;	/* couleur maquette : #0065FC • perso : design plus joli en noir */
}

/* --------------------SECTION 3 : activitées----------------- */
#activity
{
	margin-top: 50px;
}
#content_4
{
	display: flex;
	justify-content: space-between;
}
.content_4_1
{
	width: 22%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.content_4_1 h3
{
	padding: 5px 20px;
}
.content_4_1 a
{
	color: #000000;
	text-decoration: none;
}
.content_4_1 a:hover
{
	background-color: #DEEBFF;
}
.activity_1, .activity_2, .activity_3, .activity_4, .activity_5
{
	border-radius: 15px;
	box-shadow: 2px 2px 10px #C2C2C2;
	overflow: hidden;
}
.content_4_1 img
{
	object-fit: cover;
}
.activity_1 img
{
	width: 220%;
	height: 33em;
	object-position: -16em 0;
}
.activity_2 img
{
	width: 100%;
	height: 15em;
	object-position: 50% 40%;
}
.activity_3 img
{
	width: 100%;
	height: 9em;
	object-position: 50% 25%;
}
.activity_4 img
{
	width: 100%;
	height: 12em;
	object-position: 50% 5%;
}
.activity_5 img
{
	width: 100%;
	height: 13em;
	object-position: 50% 15%;
}
/* ------------------------FOOTER------------------------*/
footer
{
	background-color: #F2F2F2;
	margin-top: 50px;
}
#content_5
{
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
.footer
{
	width: 30%;
}
.footer ul
{
	list-style: none;
}
.footer a
{
	color: #000000;
	text-decoration: none;
}
.footer a:hover
{
	color: #0065FC;
}